<!--#
 @version 0.1 (auto-set)
#-->
<!-- table shouts search -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Функция <b>saydym()</b>
                        </div>
                        <div class="panel-body">
						<P>Данная функция используется вместо стандартной <b>say()</b>.</P>
						<P>Формат вызова функции <b>saydym('text',par1,par2,par3)</b></P>
						<P><b>'text'</b> — текст сообщения</P>
						<P><b>par1</b> — уровень важности сообщения</P>
						<P><b>par2</b> — номер файла «дин-дон»</P>
						<b>0</b> — принудительный запрет «дин-дон»<br>
						<b>1</b> — стандартный файл dingdong.mp3<br>
						<b>2</b> — tone1.mp3<br>
						<b>3</b> — tone2.mp3<br>
						<b>4</b> — tone3.mp3<br>
						<P><b>par3</b> — ID пользователя (из таблицы) от имени которого звучит сообщение <br>(0 - сообщение от имени Алисы)</P>
						</div>
                    </div>
                </div>



					<div class="col-lg-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								Пользователи
							</div>
							<div class="panel-body">							
								[#TXT_ADMIN#]
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								Настройки
							</div>
							<div class="panel-body">
							<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
								Аватар
								[#if AVATAR!=""#]<img src="<#ROOTHTML#>cms/avatars/[#AVATAR#]" border="0" height="50"><br>[#endif#]
								<input type="file" class="form-control" name="avatar"><br>
								Цвет<br>
								<input type="text" name="color"  class="form-control" value="[#COLOR#]" class="input"><br><br>
									<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
									<input type="hidden" name="view_mode" value="update_settings">
									<input type="hidden" name="mode" value="update">
							</form>
							</div>
						</div>
					</div>



					<div class="col-lg-4">
						<div class="panel panel-default">
							<div class="panel-heading">
							Отображение чата 
							</div>
							<div class="panel-body">
							Создайте в домашних страницах блок html кода с содержимым:<p><b>					
							[#module name=&quot;app_chatbox&quot; limit=&quot;65&quot;
							reverse=&quot;1&quot; mobile=&quot;1&quot;#]</b></P>
							</div>
						</div>
					</div>

